aiocron==1.8
aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.5.3"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.5.3"
attrs==21.4.0; python_version >= "3.6" and python_full_version >= "3.5.3"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
croniter==1.3.8; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
discord.py==1.7.3; python_full_version >= "3.5.3"
discord==1.7.3
idna==3.3; python_version >= "3.6" and python_full_version >= "3.5.3"
multidict==6.0.2; python_version >= "3.7" and python_full_version >= "3.5.3"
python-dateutil==2.8.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
python-dotenv==0.20.0; python_version >= "3.5"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.5.3"
tzdata==2022.7; platform_system == "Windows" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
tzlocal==4.2; python_version >= "3.6"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.5.3"
